@import url('./root.css');

#sumaraizer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
}

h1 {
    font-family: var(--title-font);
    font-size: 25px;
}

textarea {
    height: 60vh;
    width: 20vw;
    border-radius: 20px;
    background-color: var(--text-area-bg);
    color: var(--secondary-font-color);
    font-family: var(--text-font);
    resize: none;
    padding: 20px;

}

textarea:focus {
    outline: none;
}

#input-container {
    text-align: center;
}

#output-container {
    text-align: center;
}